$dark: #0d121f;
$light: #ecf0f4;
$blue: #0a305f;
$purple: #533483;
$pink: #e94560;
$darkg: linear-gradient(180deg, #0d121f 11.4%, #242d44 70.2%);
$cg: linear-gradient(
  109.6deg,
  rgb(255, 54, 141) 11.2%,
  rgb(72, 124, 255) 91.1%
);
