@import "var";
@import "font";
@import "mix";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  @media (max-width: 650px) {
    font-size: 42%;
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: $cg;
}

body {
  background: $dark;
  position: relative;
  font-family: "Comfortaa", cursive;
  color: $light;
}
header {
  width: 100%;
  min-height: 100vh;
  @media (max-width: 650px) {
    min-height: 500px;
  }
  background: $darkg;
  position: relative;
  //   nav start
  nav {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 10rem;
    position: relative;
    @include center(row);
    padding: 20px;
    .logo {
      flex: 2;
      font-size: 3rem;
      img {
        height: 3rem;
      }
    }
    .nav {
      flex: 1;
      ol {
        list-style: none;
        @include center(row);

        justify-content: right;
        li {
          a {
            text-decoration: none;
            font-size: 2rem;
            color: $light;
            position: relative;
            transition: all 0.3s;
            padding: 10px 25px;
            padding-right: 0px;
            &:hover {
              @include hi;
            }
            &:active {
              transform: scale(95%);
            }
          }
        }
      }
    }
  }
  // nav end
  // hero start
  .hero {
    width: 100%;
    height: calc(100vh - 10rem);
    @media (max-width: 500px) {
      height: calc(500px - 10rem);
    }
    @include center(column);
    position: relative;
    .name {
      font-size: 5rem;
      font-family: "Syncopate", sans-serif;
      @media (max-width: 650px) {
        font-size: 4rem;
      }
      .ifo {
        font-weight: 400;
        font-size: 4rem;
        @media (max-width: 500px) {
          font-size: 3rem;
        }
      }
      .n {
        font-weight: 600;
      }
    }
    .sub {
      font-size: 4rem;
      font-family: "Sacramento", cursive;
      padding-top: 10px;
    }
    .des {
      color: rgba(255, 255, 255, 0.363);
      max-width: 800px;
      font-size: 1.7rem;
      text-align: center;
      padding: 10px 30px;
    }
    .btn-g {
      position: relative;
      @include center(row);
      padding-top: 20px;
      .br {
        position: relative;
        height: 5rem;
        width: 17.5rem;
        border-radius: 60px;
        background: $cg;
        padding: 2px;
        margin: 10px;
        transition: all 0.4s;
        @include center(row);
        a {
          @include center(row);
          height: 100%;
          width: 100%;
          font-size: 1.7rem;
          background: #242d44;
          border-radius: 40px;
          color: $light;
          text-decoration: none;
          span {
            padding-left: 3px;
          }
          .fa-solid {
            position: relative;
            top: -2px;
            font-size: 1.8rem;
          }
        }
        &:hover {
          box-shadow: -7px -8px 55px rgba(255, 54, 141, 0.3),
            -2px -2px 20px rgba(255, 54, 141, 0.5),
            -4px -4px 10px rgba(255, 54, 141, 0.6),
            8px 8px 55px rgb(72, 124, 255, 0.3),
            2px 2px 20px rgb(72, 124, 255, 0.5),
            4px 4px 10px rgb(72, 124, 255, 0.6);
        }
      }
    }
  }
}
// projects paje header
#projet {
  height: auto;
  background: $dark;
  min-height: auto;
  @media (max-width: 650px) {
    min-height: auto;
  }
}

// about section start

.about {
  width: 100%;
  height: 40rem;
  position: relative;
  @include center(row);
  padding: 20px 40px;
  @media (max-width: 900px) {
    height: auto;
  }
  .conteiner {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    .image {
      height: 100%;
      display: flex;
      align-items: center;
      @media (max-width: 900px) {
        width: 100%;
        justify-content: center;
      }
      img {
        width: 30rem;
        box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.32);
        border-radius: 5px;
        transition: all 2s ease-out;
        &:hover {
          box-shadow: -7px -8px 55px rgba(255, 54, 141, 0.3),
            -2px -2px 20px rgba(255, 54, 141, 0.5),
            -4px -4px 10px rgba(255, 54, 141, 0.6),
            8px 8px 55px rgb(72, 124, 255, 0.3),
            2px 2px 20px rgb(72, 124, 255, 0.5),
            4px 4px 10px rgb(72, 124, 255, 0.6);
        }
      }
    }
    .text {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      .h {
        font-size: 2.5rem;
        @media (max-width: 900px) {
          text-align: center;
        }
      }
      .name {
        font-size: 2.2rem;
      }
      .des {
        font-size: 1.7rem;
        padding-top: 10px;
      }
    }
    .link {
      width: 100%;
      position: relative;
      padding: 20px 0px;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 4rem;
        margin-right: 1rem;
        transition: all 0.3s;
        &:hover {
          @include hi;
        }
      }
    }
  }
}
.wave {
  position: absolute;
  width: 100%;
  top: -9rem;
  .w {
    position: absolute;
    width: 100%;
    height: 10rem;
    background: url("../img/wave.png");
    background-size: 1000px 10rem;
    top: 0px;
  }
  .w-1 {
    animation: wave1 4s linear infinite;
    opacity: 0.6;
  }
  .w-2 {
    animation: wave1 3s linear infinite;
    opacity: 1;
  }
  .w-3 {
    animation: wave2 5s linear infinite;
    opacity: 0.4;
  }
  .w-4 {
    animation: wave2 2s linear infinite;
    opacity: 0.3;
  }
}
@keyframes wave1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

// skils start
.skills {
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 20px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
  .one,
  .tow {
    position: relative;
  }
  .one {
    flex: 1;
    padding: 0;
    @media (max-width: 900px) {
      text-align: center;
      padding: 20px;
    }
    h1 {
      @include hi;
      padding: 0;
      font-size: 2rem;
      text-transform: uppercase;
      @media (max-width: 900px) {
        font-size: 3rem;
      }
      span {
        padding-right: 3px;
        @media (max-width: 900px) {
          padding: 5px;
        }
      }
    }
  }
  .tow {
    flex: 5;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    .info {
      width: 20rem;
      margin: 0rem 2rem 2rem 2rem;
      h1 {
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 3px;
      }
      ol {
        list-style: none;
        li {
          color: rgba(255, 255, 255, 0.552);
          font-size: 1.5rem;
          padding-top: 5px;
        }
      }
    }
    // project
    .pr-row {
      flex: 1;
      position: relative;
      .pro {
        position: relative;
        display: flex;
        margin: 0rem 2rem 3rem 2rem;
        .des {
          position: relative;
          h1 {
            font-size: 1.9rem;
          }
          p {
            color: rgba(255, 255, 255, 0.552);
            font-size: 1.5rem;
            padding-top: 5px;
          }
          .tech {
            width: 100%;
            ol {
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              li {
                font-size: 1.6rem;
                padding: 10px 20px;
                margin: 7px 5px 0px 0px;
                background: $blue;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                  background-color: $purple;
                }
              }
            }
          }
        }
        .link {
          display: flex;
          padding: 10px;
          a {
            text-decoration: none;
            color: #fff;
            padding: 10px;
            font-size: 2rem;
            &:hover {
              color: $purple;
            }
          }
        }
      }
    }
  }
}
.all {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 10px 3rem;

    .arrow {
      position: relative;
      @include hi;
      font-size: 2.4rem;
      padding-left: 5px;
      transition: all 0.4s;
    }
    &:hover {
      .arrow {
        padding-left: 20px;
      }
    }
  }
}
footer {
  width: 100%;
  height: 10rem;
  position: relative;
  margin-top: 10rem;
  overflow: hidden;
  .br {
    width: 100%;
    height: 0.5rem;
    background: $acg;
    background-size: 1000px;
    position: absolute;
    top: 0px;
    animation: wave1 3s linear infinite;
  }
  .sh {
    filter: blur(10px);
    top: 95%;
    width: 110%;
  }
  .info {
    width: 100%;
    height: 100%;
    @include center(row);
    justify-content: space-around;
    color: #646f8c;
    @media (max-width: 900px) {
      @include center(column);
    }
    .wish {
      font-size: 1.5rem;
    }
    .copy {
      font-size: 1.5rem;
      padding-top: 10px;
    }
  }
}

.contact {
  width: 100%;
  position: relative;
  padding: 10rem 0;
  .titel {
    width: 100%;
    max-width: 1000px;
    font-size: 3rem;
    text-transform: capitalize;
    margin: auto;
    text-align: center;
    // box-shadow: 4px 4px 4px rgb(255, 54, 141);
  }
  .links {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    a {
      font-size: 2rem;
      text-decoration: none;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 5px;
      margin: 1rem;
      transition: all 0.2s ease-out;
      span {
        position: relative;
        font-size: 2.5rem;
        top: 0.2rem;
      }
      &:hover {
        transform: translateY(-10px);
      }
    }
    .linkedin {
      background: #0072b1;
    }
    .github {
      background: #171515;
    }
    .instagram {
      background: radial-gradient(
          circle farthest-corner at 28% 100%,
          #fcdf8f 0%,
          #fbd377 10%,
          #fa8e37 22%,
          #f73344 35%,
          transparent 65%
        ),
        linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
    }
  }
  .mail {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
  }
}

// project page start
// top text
.text-pro {
  width: 100%;
  text-align: center;
  .titel {
    margin: 13rem 0px;
    h1 {
      font-size: 5rem;
      font-family: "Syncopate", sans-serif;
      color: #fff;
      letter-spacing: 0.3rem;
    }
    p {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: rgba(255, 255, 255, 0.613);
    }
  }
}
.future {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  .head {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .list {
    width: 100%;
    @include center(row);
    flex-wrap: wrap;
    position: relative;
    margin-top: 2rem;
    @media (max-width: 900px) {
      @include center(colunm);
    }
    .pro {
      position: relative;
      width: 30rem;
      height: 28rem;
      background: #242d44;
      padding: 1.7rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 1rem;
      margin: 1rem;
      @media (max-width: 900px) {
        width: 100%;
        height: 20rem;
      }
      .t {
        width: 100%;
        position: relative;
        .h {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          .name {
            font-size: 2.2rem;
          }
          .link {
            font-size: 2rem;
            a {
              text-decoration: none;
              color: #fff;
              transition: all 0.2s linear;
              &:hover {
                @include hi;
              }
            }
          }
        }
        .des {
          width: 100%;

          p {
            font-size: 1.4rem;
          }
        }
      }
      .f {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        span {
          font-size: 1.4rem;
          padding: 0.6rem 1.4rem;
          margin: 5px;
          background: $blue;
          border-radius: 5px;
          &:hover {
            background: $purple;
          }
        }
      }
    }
  }
}

.table {
  width: 100%;
  position: relative;
  margin-top: 2rem;
  .titel {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
  }
  .con {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 1rem 5rem 5rem 5rem;

    table {
      width: 100%;
      position: relative;
      thead {
        width: 100%;
        position: relative;

        tr {
          font-size: 2rem;
          text-transform: capitalize;
          text-align: left;
          color: rgba(255, 255, 255, 0.572);
          th {
            padding: 1.3rem 0;
          }
        }
      }
      tbody {
        width: 100%;
        position: relative;
        tr {
          transition: all 0.5s;
          &:hover {
            background: rgba(255, 255, 255, 0.007);
          }
          td {
            font-size: 1.5rem;
            padding: 1rem 0px;
            margin: 0px;
            a {
              text-decoration: none;
              color: #fff;
              font-size: 1.7rem;
              padding: 0 0 0 0.5rem;
              &:hover {
                color: $pink;
              }
            }
          }
        }
      }
      th.year,
      td.year {
        width: 10%;
        text-align: center;
      }
      td.year {
        color: $pink;
      }
      th.name,
      td.name {
        width: 20%;
        text-align: left;
      }
      th.build,
      td.build {
        width: 50%;
        text-align: left;
        word-spacing: 5px;
        @media (max-width: 600px) {
          display: none;
        }
      }
      th.links,
      td.links {
        width: 20%;
        text-align: right;
      }
    }
  }
}

.lod {
  position: fixed;
  width: 100%;
  height: 100vh;
  @include center(row);
  z-index: 1000;
  background-color: $dark;
  .svg {
    width: 20%;
    position: relative;
    svg {
      width: 100%;
    }
    /***************************************************
 * Generated by SVG Artista on 9/17/2022, 9:19:45 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

    @keyframes animate-svg-stroke-1 {
      0% {
        stroke-dashoffset: 2405.514892578125px;
        stroke-dasharray: 2405.514892578125px;
      }

      100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2405.514892578125px;
      }
    }

    .svg-elem-1 {
      -webkit-animation: animate-svg-stroke-1 5s ease-in-out 0s both;
      animation: animate-svg-stroke-1 5s ease-in-out 0s both;
      width: 100%;
    }
  }
}

.ex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
}
