@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.hi {
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
  background-position: center;
  background-size: contain;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 0 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 650px) {
  html {
    font-size: 42%;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
}

body {
  background: #0d121f;
  position: relative;
  font-family: "Comfortaa", cursive;
  color: #ecf0f4;
}

header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #0d121f 11.4%, #242d44 70.2%);
  position: relative;
}
@media (max-width: 650px) {
  header {
    min-height: 500px;
  }
}
header nav {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
header nav .logo {
  flex: 2;
  font-size: 3rem;
}
header nav .logo img {
  height: 3rem;
}
header nav .nav {
  flex: 1;
}
header nav .nav ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: right;
}
header nav .nav ol li a {
  text-decoration: none;
  font-size: 2rem;
  color: #ecf0f4;
  position: relative;
  transition: all 0.3s;
  padding: 10px 25px;
  padding-right: 0px;
}
header nav .nav ol li a:hover {
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
header nav .nav ol li a:active {
  transform: scale(95%);
}
header .hero {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
@media (max-width: 500px) {
  header .hero {
    height: calc(500px - 10rem);
  }
}
header .hero .name {
  font-size: 5rem;
  font-family: "Syncopate", sans-serif;
}
@media (max-width: 650px) {
  header .hero .name {
    font-size: 4rem;
  }
}
header .hero .name .ifo {
  font-weight: 400;
  font-size: 4rem;
}
@media (max-width: 500px) {
  header .hero .name .ifo {
    font-size: 3rem;
  }
}
header .hero .name .n {
  font-weight: 600;
}
header .hero .sub {
  font-size: 4rem;
  font-family: "Sacramento", cursive;
  padding-top: 10px;
}
header .hero .des {
  color: rgba(255, 255, 255, 0.363);
  max-width: 800px;
  font-size: 1.7rem;
  text-align: center;
  padding: 10px 30px;
}
header .hero .btn-g {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
header .hero .btn-g .br {
  position: relative;
  height: 5rem;
  width: 17.5rem;
  border-radius: 60px;
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
  padding: 2px;
  margin: 10px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header .hero .btn-g .br a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  background: #242d44;
  border-radius: 40px;
  color: #ecf0f4;
  text-decoration: none;
}
header .hero .btn-g .br a span {
  padding-left: 3px;
}
header .hero .btn-g .br a .fa-solid {
  position: relative;
  top: -2px;
  font-size: 1.8rem;
}
header .hero .btn-g .br:hover {
  box-shadow: -7px -8px 55px rgba(255, 54, 141, 0.3), -2px -2px 20px rgba(255, 54, 141, 0.5), -4px -4px 10px rgba(255, 54, 141, 0.6), 8px 8px 55px rgba(72, 124, 255, 0.3), 2px 2px 20px rgba(72, 124, 255, 0.5), 4px 4px 10px rgba(72, 124, 255, 0.6);
}

.about {
  width: 100%;
  height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px 40px;
}
@media (max-width: 900px) {
  .about {
    height: auto;
  }
}
.about .conteiner {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
}
@media (max-width: 900px) {
  .about .conteiner {
    flex-direction: column;
  }
}
.about .conteiner .image {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .about .conteiner .image {
    width: 100%;
    justify-content: center;
  }
}
.about .conteiner .image img {
  width: 30rem;
  box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.32);
  border-radius: 5px;
}
.about .conteiner .text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.about .conteiner .text .h {
  font-size: 2.5rem;
}
@media (max-width: 900px) {
  .about .conteiner .text .h {
    text-align: center;
  }
}
.about .conteiner .text .name {
  font-size: 2.2rem;
}
.about .conteiner .text .des {
  font-size: 1.7rem;
  padding-top: 10px;
}
.about .conteiner .link {
  width: 100%;
  position: relative;
  padding: 20px 0px;
}
.about .conteiner .link a {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  margin-right: 1rem;
  transition: all 0.3s;
}
.about .conteiner .link a:hover {
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.wave {
  position: absolute;
  width: 100%;
  top: -9rem;
}
.wave .w {
  position: absolute;
  width: 100%;
  height: 10rem;
  background: url("../img/wave.png");
  background-size: 1000px 10rem;
  top: 0px;
}
.wave .w-1 {
  -webkit-animation: wave1 4s linear infinite;
          animation: wave1 4s linear infinite;
  opacity: 0.6;
}
.wave .w-2 {
  -webkit-animation: wave1 3s linear infinite;
          animation: wave1 3s linear infinite;
  opacity: 1;
}
.wave .w-3 {
  -webkit-animation: wave2 5s linear infinite;
          animation: wave2 5s linear infinite;
  opacity: 0.4;
}
.wave .w-4 {
  -webkit-animation: wave2 2s linear infinite;
          animation: wave2 2s linear infinite;
  opacity: 0.3;
}

@-webkit-keyframes wave1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes wave1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-webkit-keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
.skills {
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 20px;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
.container .one,
.container .tow {
  position: relative;
}
.container .one {
  flex: 1;
  padding: 0;
}
@media (max-width: 900px) {
  .container .one {
    text-align: center;
    padding: 20px;
  }
}
.container .one h1 {
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 0;
  font-size: 2.6rem;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .container .one h1 {
    font-size: 3rem;
  }
}
.container .one h1 span {
  padding-right: 3px;
}
@media (max-width: 900px) {
  .container .one h1 span {
    padding: 5px;
  }
}
.container .tow {
  flex: 5;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.container .tow .info {
  width: 20rem;
  margin: 0rem 2rem 2rem 2rem;
}
.container .tow .info h1 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 3px;
}
.container .tow .info ol {
  list-style: none;
}
.container .tow .info ol li {
  color: rgba(255, 255, 255, 0.552);
  font-size: 1.5rem;
  padding-top: 5px;
}
.container .tow .pr-row {
  flex: 1;
  position: relative;
}
.container .tow .pr-row .pro {
  position: relative;
  display: flex;
  margin: 0rem 2rem 3rem 2rem;
}
.container .tow .pr-row .pro .des {
  position: relative;
}
.container .tow .pr-row .pro .des h1 {
  font-size: 1.9rem;
}
.container .tow .pr-row .pro .des p {
  color: rgba(255, 255, 255, 0.552);
  font-size: 1.5rem;
  padding-top: 5px;
}
.container .tow .pr-row .pro .des .tech {
  width: 100%;
}
.container .tow .pr-row .pro .des .tech ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.container .tow .pr-row .pro .des .tech ol li {
  font-size: 1.6rem;
  padding: 10px 20px;
  margin: 7px 5px 0px 0px;
  background: #0a305f;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.container .tow .pr-row .pro .des .tech ol li:hover {
  background-color: #533483;
}
.container .tow .pr-row .pro .link {
  display: flex;
  padding: 10px;
}
.container .tow .pr-row .pro .link a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 2rem;
}
.container .tow .pr-row .pro .link a:hover {
  color: #533483;
}

.all {
  position: relative;
}
.all a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  padding: 10px 3rem;
}
.all a .arrow {
  position: relative;
  background: linear-gradient(109.6deg, rgb(255, 54, 141) 11.2%, rgb(72, 124, 255) 91.1%);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 2.4rem;
  padding-left: 5px;
  transition: all 0.4s;
}
.all a:hover .arrow {
  padding-left: 20px;
}

footer {
  width: 100%;
  height: 10rem;
  position: relative;
  margin-top: 5rem;
  overflow: hidden;
}
footer .br {
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(90deg, rgb(255, 54, 141), rgb(72, 124, 255), rgb(255, 54, 141));
  background-size: 1000px;
  position: absolute;
  top: 0px;
  -webkit-animation: wave1 3s linear infinite;
          animation: wave1 3s linear infinite;
}
footer .sh {
  filter: blur(10px);
  top: 95%;
  width: 110%;
}
footer .info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  color: #646f8c;
}
@media (max-width: 900px) {
  footer .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
footer .info .wish {
  font-size: 1.5rem;
}
footer .info .copy {
  font-size: 1.5rem;
  padding-top: 10px;
}/*# sourceMappingURL=main.css.map */